body{
    font-family: 'Raleway', sans-serif;
    padding: 40px;
    background-color: #ffff;
    margin: auto;
    display: flex;
    flex-direction: column;
}

h1, h2
{
    font-size: 1.2em;
    font-weight: bold;
}

h3
{
    font-size: 0.9em;
}

p
{
    font-size: 0.8em;
    font-weight: lighter;
}

a
{
    text-decoration: none;
    color: black;
}

ul
{
    list-style-type: none;
}

.options i{
    color: #0065fc;
}

.card{
    border: 0px black solid;
    box-shadow: 1px 1px 1px grey;
    border-radius: 15px;
    background-color: white;
    flex-wrap: wrap;
    margin: auto;
    width: 100%;
}

.card--main, .card--section{
    display: flex;
    flex-direction: column;
}

.hover:hover{
    box-shadow: 1px 1px 5px grey;
    scale: 2 0.7;
}
.grid{
    margin: 0;
    width: 100%;
    gap: 28px;
}

img{
    object-fit: cover;
}

.figure__title{
    line-height: 0.5em;
    margin-top: -10px;
    padding-top: 0;
}

figcaption{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 0 10px 10px;
}

/*-------------------header-----------------------
--------------------------------------------------
-------------------------------------------------*/
.header{
    /*height: 180px;*/
    display: flex;
    justify-content: space-between;
}

.logo img{
    width: 110px;
}

.nav{
    display: flex;
    justify-content: space-between;
}

.nav__item{
    margin-left: 50px;
    padding-left: 20px;
    padding-right: 20px;
}

.nav__item:hover{
    border-top: #0065fc solid 2px;
    padding-top: 56px;
    margin-top: -56px;
}

.nav__item--inscription a{
    color: #0065fc;
}

.nav__item a:hover{
    color: #0065fc;
}

/*-------------------options-----------------------
--------------------------------------------------
-------------------------------------------------*/

/*champ de recherche*/
.btn{ 
    display: flex;
    height: 40px;
    width: 400px;
    border: 1px solid #DEEBFF;
    border-radius: 15px;
    border-right: none;
}

.btn--icon{
    background-color: #DEEBFF;
    border-radius: 15px 0 0 15px;
    height: 100%;
    width: 55px;
}

.btn--icon i{
    margin: 12px 0 0 17px;
}

input{
    border: none;
    width: 305px;
    padding-left: 10px;
    font-weight: bold;
    font-size: 1em;
}

.btn__button--txt{
    color: white;
    background-color: #0065fc;
    border-radius: 0 15px 15px 0;
    height: 100%;
    border: none;
}

.btn__button--icon{
    display: none;
}

/*filtres*/
.filters{
    display: flex;
}

.filter{
    margin-left: 25px;
    height: 30px;
    margin-top: 10px;
    padding: 10px 18px 0 0;
    font-size: 1em;
    font-weight: bold;
    border: #DEEBFF 2px solid;
    border-radius: 50px;
}

.filter__ico{
    border-radius: 50%;
    background-color: #DEEBFF;
    padding: 12px;
}

.icon--child i{
    margin-right: 4px;
    margin-left: 4px;
}

.icon--heart i{
    margin-right: 2px;
    margin-left: 2px;
}

/*-------------------master-----------------------
--------------------------------------------------
-------------------------------------------------*/

.corps{
    display: flex;
    justify-content: space-between;
}

.master{
    border-radius: 15px;
    background-color: #F2F2F2;
    padding: 20px;
}

.card__notation{
    direction: rtl;
    align-self: flex-start;
}

.card__notation a {
    color: #d9d9d9;
    text-decoration: none;
    font-size: 0.8em;
 }

 .card__notation a:hover,
 .card__notation a:focus,
 .card__notation a:focus~a,
 .card__notation a:hover~a{
    color: #0065fc;
    cursor: pointer;
 }

/*-------------------main-------------------------
--------------------------------------------------
-------------------------------------------------*/
main{
    width: 60%;
    display: flex;
    flex-direction: column;
}

.main__grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.card--main img{
    border-radius: 15px 15px 0 0;
    width: 96%;
    height: 110px;
    padding: 5px 5px 0 5px;
}

.more{
    margin-top: 40px;
    font-weight: bold;
}

.more:hover{
    color: #0065fc;
    text-decoration: underline;
}

/*-------------------aside------------------------
--------------------------------------------------
-------------------------------------------------*/
aside{
    width: 32%;
}

.aside__grid{
    display: grid;
    grid-template: repeat(3, 1fr) / 1fr;
}

.aside__title{
    display: flex;
    justify-content: space-between;
}

.aside__title i{
    color: black;
    margin: 20px 20px 0 0;
}

.card--aside{
    display: flex;
    flex-direction: row;
}

.card--aside img{
    width: 100px;
    height: 120px;
    border-radius: 15px 0 0 15px;
    padding: 5px 0 2px 5px;
}

.card--aside{
    margin-bottom: 10px;
}

.card--aside .figure__title{
    margin-top: 20px;
}


/*-------------------section----------------------
--------------------------------------------------
-------------------------------------------------*/
section{
    display: flex;
    flex-direction: column;
}

section .title{
    margin-left: 0;
}

.section__grid{
    display: grid;
    grid-template: repeat(2, 210px) / repeat(4, 1fr);
}

.xl{
    height: 390px;
}

.pomegues{
    height: 182px;
}

.frioul{
    height: 110px;
}

.notre-dame{
    height: 150px;
}

.longchamp{
    height: 150px;
}

.card--section img{
    border-radius: 15px 15px 0 0;
    width: 100%;
}

.card--vieux-port{
    grid-row-start: 1 span 2;
    grid-column-start: 1;
}

.card--pomegues{
    grid-row-start: 1 span 2;
    grid-column-start: 2;
}

.card--frioul{
    grid-area: 2 / 2;
    margin-top: 30px;
    margin-bottom: 0;
}

.card--calanques{
     grid-row-start: 1 span 2;
     grid-column-start: 3;
}

.card--notre-dame{
    grid-area: 1 / 4;
}

.card--longchamp{
    grid-area: 2 / 4;
}

/*--------------------footer----------------------
--------------------------------------------------
-------------------------------------------------*/
footer{
    height: 11.6%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

footer ul{
    display: flex;
    flex-direction: column;
}


