
/*------saisi des valeurs communes------
----------------------------------------
--------------------------------------*/

body
{
    font-family: 'Raleway', sans-serif;
    padding: 40px;
    background-color: #ffff;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

h1
{
    font-size: 1.3em;
    font-weight: bolder;
}

h2
{
    font-size: 1em;
    font-weight: bold;
}

h3
{
    font-size: 0.9em;
}

p
{
    font-size: 0.8em;
    font-weight: lighter;
}

a
{
    text-decoration: none;
    color: black;
}

ul
{
    list-style-type: none;
}


/*----------mise en forme <header>----------
--------------------------------------------
-------------------------------------------*/
header{
    height: 6.5%;
    display: grid;
    grid-template-columns: 70% 10% 10% 10%;
}


.logo img{
    width: 110px;
}

.choice{
    text-transform: none;
    color: black;
    text-align: center;
    padding-top: 30px;
}

.choice:hover{
    border-top: #0065fc solid 1px;
    scale: 10px;
}

.choice--inscription{
    color: #0065fc;
}


/*----------mise en forme <nav>----------
------------------------------------------
----------------------------------------*/
nav{
    height: 15.9%;
}

.champ_de_recherche
{
    margin: 20px;
    display: inline-flex;
}

.rch 
{
    height: 40px;
    font-weight: bolder;
    vertical-align: middle;
}

.left{
    width: 1rem;
}

.bouton 
{
    background-color: #0065FC;
    color: white;
    width: 150px;
    text-align: center;
    border-width: 0px;
    border-radius: 0 15px 15px 0;
    font-weight: 1em;
}

.bouton i 
{
    color: white;
    visibility: hidden;
}
            
.champ  
{                
    text-align: center;
    border: #f2f2f2 01px solid;
    font-size: 0.8em;
    height: 36px;
}

.left 
{                
    background-color: #DEEBFF;
    text-align: center;                
    width:60px;               
    border-radius: 15px 0 0 15px;
}

nav i{
    color: #0065fc;
}
          
.icon 
{
    padding-top: 10px;
}

nav ul{
    display: flex;
    flex-wrap: wrap;
}

nav li{
    margin-right: 10px;
}
.filtre
{
    display: flex;
    border: 2px solid #deebff;
    border-radius: 50px;
    height: 35px;
    margin-right: 20px;
    font-weight: bold;
    padding: 0;
}

.txt
{
    padding-top: 7px;
    padding-right: 10px;
    padding-left: 10px;
}

.ico
{
    border-radius: 50px;
    background-color: #d9d9d9;
    width: 30px;
    height: 30px;
    margin-top: -1px;
    margin-left: -1px;
    padding-top: 9px;
    padding-left: 5px;
    text-align: center;
    padding-right: 5px;
    color: #0065fc;
} 

.filtre:hover
{
    box-shadow: 1px 1px 5px grey;
    color: #0065fc;
}


/*----------mise en forme de la section1----------
--------------------------------------------------
-------------------------------------------------*/
.section1{
    height: 35.8%;
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 20px;
}
/*------les éléments à l'intérieur de <article>------ 
-----------------------------------------------------
---------------------------------------------------*/
article{
    border-radius: 15px;
    background-color: #F2F2F2;
    padding: 0 25px 0 25px;
    display: flex;
    flex-direction: column;
}

.liste_hebergements{
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
    gap: 30px;
    
}

.hebergements
{
    border: 0px black solid;
    box-shadow: 1px 1px 1px grey;
    border-radius: 15px;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.hebergements:hover{
    box-shadow: 1px 1px 5px grey;
    color: #0065fc;
}

.article__picture{
    overflow: auto;
    text-align: center;
    width: 100%;
    height: 100px;
    margin-top: 5px;
}

.article__picture img{
    width: 95%;
    height: 95%;
    border-radius: 15px 15px 0 0;
}

.card__txt{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 0 5px 5px;
}


.plus
{
    font-size: 0.9em;
    font-weight: bold;
    text-decoration: none;
    color: black;
    margin-top: 60px;
}

.plus:hover
{
    font-size: 0.9em;
    color: #0065fc;
    text-decoration: underline;
}

/*------les éléments à l'intérieur de <aside>------ 
---------------------------------------------------
-------------------------------------------------*/
.pop_title{
    display: flex;
    justify-content: space-between;
}

.pop_title i{
    color: black;
}

aside{
    border-radius: 15px;
    background-color: #F2F2F2;
    padding: 0 25px 0 25px;
}

.liste_pop{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
}

.aside__picture{
    width: 125px;
    height: 135px;
    margin: 5px 0 0 5px;
}

.aside__picture img{
    width: 95%;
    height: 95%;
    border-radius: 15px 0 0 15px;
}

.populaires
{
    height: 140px;
    display: flex;
    border: 0 black solid;
    border-radius: 15px  0 15px;
    border-radius: 15px;
    box-shadow: 1px 1px 1px grey;
    background-color: white;
    overflow-wrap: normal;
}

.populaires:hover{
    box-shadow: 1px 1px 5px grey;
    color: #0065fc;
}

/* quelques petites recherches pour trouver comment sélectionner le nombre d'étoiles
que l'on veut donner notamment l'attribut direction et sa valeur rtl pour modifier
le sens de lecture*/

.notation
{
    direction: rtl;
}

.notation  a 
{
    color: #d9d9d9;
    text-decoration: none;
    font-size: 0.8em;
 }

 .notation a:hover,
 .notation a:focus,
 .notation a:focus~a,
 .notation a:hover~a
 {
    color: #0065fc;
    cursor: pointer;
 }

/*----------mise en forme de la section2----------
--------------------------------------------------
------------------------------------------------*/
.section2{
    height: 30.2%;
}

.activites{
    width: 100%;
    display: grid;
    grid-template: repeat(2, 225px) / repeat(4, 1fr);
    gap: 30px;
}

.card{ 
    max-height: 100%;
    display: grid;
    grid-template-rows: 1fr 50px;
}

.card:hover{
    box-shadow: 1px 1px 5px grey;
    color: #0065fc;
}


.small{
    width: 94.5%;
    height: 175px;
    padding: 10px;
    border-radius: 15px 15px 0 0;
}

.large{
    width: 94.5%;
    height: 430px;
    padding: 10px;
    border-radius: 15px 15px 0 0;
}

.card h2{
    margin-left: 10px;
    padding-top: 0;
    padding-bottom: 5px;
    margin-top: 0;
}

.card--vieux-port{
    grid-row-start: 1;
    grid-row-end: span 2;
}

.card--pomegues{
    grid-column-start: 2;
}

.card--frioul{
    grid-column-start: 2;
    grid-row-start: 2;
}

.card--calanques{
    grid-row-start: 1;
    grid-row-end: span 2;
    grid-column-start: 3;
}

.card--notre-dame{
    grid-column-start: 4;
}

.card--longchamp{
    grid-column-start: 4;
    grid-row-start: 2;
}

/*----------mise en forme du footer----------
---------------------------------------------
--------------------------------------------*/
footer{
    height: 11.6%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

footer ul{
    display: flex;
    flex-direction: column;
}

/*---------------media query-----------------
---------------------------------------------
--------------------------------------------*/
@media screen and (max-width: 1150px) {
    .section1{
        display: flex;
        flex-direction: column-reverse;
    }

    article{
        width: 90%;
    }

    aside{
        width: 90%;
        height: 250px;
    }

    .liste_pop{
        grid-template-columns: repeat(3, 1fr);
    }

    .plus{
        margin-bottom: 20px;
    }

    .activites{
        width: 100%;
        display: grid;
        grid-template: repeat(2, 225px) / repeat(3, auto);
        gap: 30px;
    }
    
    .large{
        height: 175px;
    }
    
    .card--vieux-port{
        grid-row-start: 1;
        grid-column-start: 1;
    }
    
    .card--pomegues{
        grid-column-start: 2;
    }
    
    .card--frioul{
        grid-column-start: 3;
        grid-row-start: 1;
    }
    
    .card--calanques{
        grid-row-start: 2;
        grid-column-start: 1;
    }
    
    .card--notre-dame{
        grid-column-start: 2;
        grid-row-start: 2;
    }
    
    .card--longchamp{
        grid-column-start: 3;
        grid-row-start: 2;
    }
    
}

@media screen and (max-width: 950px) {
    body{
        padding: 10px;
    }
    header{
        display: grid;
        grid-template: repeat(2, 50%) / repeat(4, 25%);
    }

    .logo{
        grid-column-start: 1;
        grid-row-start: 1;
    }

    .choice--hebergements{
        grid-column-start: 2;
        grid-row-start: 2;
    }

    .choice--activites{
        grid-column-start: 3;
        grid-row-start: 2;
    }

    .choice--inscription{
        grid-column-start: 4;
        grid-row-start: 1;
    }

    .choice--activites:hover, .choice--hebergements:hover{
        border-top: none;
        border-bottom: #0065fc solid 1px;
    }

    aside{
        height: 550px;
    }

    .populaires{
        width: 300px;
        justify-self: center;
    }

    .liste_pop{
        grid-template: repeat(3, 1fr) / repeat(1, 1fr);
    }

    .liste_hebergements{
        display: grid;
        grid-template: repeat(3, 1fr) / repeat(2, 1fr);
        gap: 30px;
    }

    .article__picture{
        height: 120px;
    }

}

@media screen and (max-width: 630px) {
    .activites{
        grid-template: repeat(6, 225px) / 1fr;
    }

    .card--vieux-port{
        grid-row-start: 1;
        grid-column-start: 1;
    }
    
    .card--pomegues{
        grid-row-start: 2;
        grid-column-start: 1;
    }
    
    .card--frioul{
        grid-row-start: 3;
        grid-column-start: 1;
    }
    
    .card--calanques{
        grid-row-start: 4;
        grid-column-start: 1;
    }
    
    .card--notre-dame{
        grid-row-start: 5;
        grid-column-start: 1;
    }
    
    .card--longchamp{
        grid-row-start: 6;
        grid-column-start: 1;
    }

    .large{
        height: 175px;
    }
    
}

@media screen and (max-width: 555px) {
    .liste_hebergements{
        grid-template: repeat(6, 1fr) / 1fr;
        justify-self: center;
    }

    .populaires{
        width: 100%;
    }

    footer{
        grid-template: repeat(3, 1fr)/ 1fr;
    }
}